html {
    box-sizing: border-box;
}
*, 
*::before,
*::after {
    box-sizing: inherit;
}
body {
   background-color: rgba(2, 3, 51, 0.788)
}
* {
    margin: 0;
    padding: 0;
}

header {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #ffff;
}

nav {
    color: #fff;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between
    
    
    
}
.render {
    display: flex;
    list-style: none;
    color: #fff;
}
.render,
li {
    margin-right: 3rem;
    padding: 1rem;
    font: bold;
    font-size: 1rem;
    padding-left: 0rem;
    color: #fff;
}
.city {
    display: inline-block;
    margin: 0rem;
    padding-top: 1rem;
    size: 3px;
    padding-left: 2rem;
}

.exp {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}
.life {
    font-size: 4rem;
    margin-left: 4rem;
    margin-bottom: 0;
    color: #fff;
}
.choose {
    color: white;
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 0;
}
.bod {
    margin-left: 4rem;
    color: #fff;
    font-size: x-small;
    margin-left: 4rem;
    margin-top: 2rem;
    display: flex;
    font-size: 18px;
    overflow: auto;
    resize: both;
    width: 600px;
    height: 200px;
    }
    .wrap {
        position: absolute;
        top: 0%;
        right: 4%;
        translate: 0% 3%;
        margin-top: 2rem;

    }
    .menu {
        width: 28px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .button {
        display: inline-flex;
        height: 50px;
        padding: 0;
        background-color: rgb(50, 50, 105);
        border: 2px solid white;
        border-radius: 2rem;
        overflow: hidden;
        width: 10rem;
        margin: 3rem;
        cursor: pointer;
    }
    .button__text {
        align-items: center;
        margin: 1rem;
        margin-left: 2rem;
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 700;
    }
    .nav_but {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: red;
    }
    .button:hover {
        background-color: red;
    }
